{% extends 'base.html' %}
{% block title%}
    {{ super() }} - Página Não Encontrada
{% endblock %}
{% block content %}
    <div class="aviso-msg container-fluid">
        <h1 class="text-center text-danger">
            Desculpe, mas essa página não existe!
        </h1>
    </div>
    <div class="aviso-conteudo container-fluid">
        <div>
            <h4 class="text-info text-center">
                Verifique se você digitou o endereço corretamente ou retorne à
                <a class="aviso-home" href="{{ url_for('index') }}">
                    <strong>página inicial.</strong>
                </a>
            </h4>
        </div>
    </div>
{% endblock %}
