{% extends 'home.html' %}
{% block title %}
    CGManager - Cadastro de
{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        /* For mobile phones: */
        [class*="registrar"] {
            padding-top: 5vh
        }

        @media only screen and (min-width: 600px) {
            .cadastro {
            {#color: darkred;#}{#padding-bottom: 10vh;#} margin-left: auto;
                padding-right: auto;
                position: absolute;
                min-width: 50vw;
            }

            .form-control {
                max-width: fit-content;
                padding: auto;
            }
        }
    </style>
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="cadastro col-md-6 col-md-offset-6" style="color: darkred; padding-bottom: 10vh;">
        {% block form %}
        {% endblock %}
    </div>
{% endblock %}
{% block boasvindas %}
{% endblock %}
