{% extends 'cadastro.html' %}
{% block tabela %}
{% endblock %}
{% block form %}
    <h2 class="titulo" style="text-transform: uppercase">
        Cadastro de Equipamento
    </h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="fabricante">
            {{ form.fabricante.label }}<br>
            {{ form.fabricante(size=20, class="form-control", placeholder='Informe o fabricante do equipamento') }}<br>
        </div>
        <div class="modelo">
            {{ form.modelo.label }}<br>
            {{ form.modelo(size=20, class="form-control", placeholder='Informe o modelo do equipamento') }}<br>
        </div>
        <div class="registrar">
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
{% block botao %}
{% endblock %}
