{% extends 'home.html' %}
{% block title %}
    CGManager - Cadastro de
{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        /* For mobile phones: */
        [class*="registrar"] {
            padding-top: 5vh
        }

        @media only screen and (min-width: 600px) {
            .cadastro {
            {#color: darkred;#}{#padding-bottom: 10vh;#} margin-left: auto;
                padding-right: 0;
                position: absolute;
                min-width: 50vw;
            }

            .form-control {
                max-width: fit-content;
                padding: 0;
            }
        }

        .tabela {
            border: 2px solid darkred;
            border-collapse: collapse;
            background-color: white;
            min-width: 50vh;
            width: 100%;
        }

        .tabela-cabecalho, .tabela-valor {
            border: 1px solid black;
        }

        .tabela-cabecalho, .tabela-valor {
            padding-left: 2px;
            text-transform: uppercase;
        }
    </style>
{% endblock %}
{% block content %}
    {{ super() }}
    {% block tabela %}
        <table class="tabela">
            {% if table|length > 0 %}
                <tr class="tabela-coluna">
                    {% for e in table[0].dict_class %}
                        {% for k in e.keys() %}
                            <th class="tabela-cabecalho">
                                {{ k }}
                            </th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                {% for r in table %}
                    <tr class="tabela-coluna">
                        {% for d in r.dict_class %}
                            {% if d.values()|length > 0 %}
                                {% for v in d.values() %}
                                    <td class="tabela-valor">
                                        {{ v }}
                                    </td>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="tabela-coluna">
                    {% for e in tabela2.dict_class %}
                        {% for k in e.keys() %}
                            <th class="tabela-cabecalho">
                                {{ k }}
                            </th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="{{ tabela2.dict_class|length }}" class="text-center">
                        Sem registro
                    </td>
                </tr>
            {% endif %}
        </table>
        {% block botao %}
            <div class="btn-group" style="padding-top: 10px; margin-left: 0">
                <button href="https://www.google.com" class="button">
                    <a href="/cg/cadastrar/{{ objeto }}/novo/" class="button"
                       style="text-decoration: none; color: darkred">Novo</a>
                </button>
            </div>
        {% endblock %}
    {% endblock %}
    <div class="cadastro col-md-6 col-md-offset-6" style="color: darkred; padding-bottom: 10vh;">
        {% block form %}
        {% endblock %}
    </div>
{% endblock %}
{% block boasvindas %}{% endblock %}
