{% extends 'cadastro.html' %}
{% block tabela %}
{% endblock %}
{% block form %}
    <h2 class="titulo" style="text-transform: uppercase">
        Cadastro de Sala
    </h2>
    <form action="" method="post" autocomplete="on">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.numero.label }}<br>
            {{ form.numero(size=5, class="form-control", placeholder='Informe a sala') }}<br>
            {% for error in form.numero.errors %}
                <span class="alert-info">{{ error }}</span>
            {% endfor %}
        </div>
        <input type="submit" name="cadastrar" value="Cadastrar">
        <a href="{{ url_for('database_manipulation.cadastro', objeto='sala') }}">
            <input type="button" name="cancelar" value="Cancelar">
        </a>
    </form>
{% endblock %}
{% block botao %}
{% endblock %}