{% extends 'cadastro.html' %}
{% block tabela %}
{% endblock %}
{% block form %}
    <h2 class="titulo" style="text-transform: uppercase">
        Cadastro de Unidade
    </h2>
    <form action="" method="post" autocomplete="on">
        {{ eform.csrf_token }}
        {{ uform.csrf_token }}
        <div class="form-group">
            {{ uform.nome.label }}<br>
            {{ uform.nome(id="nome", size=80, class="form-control", placeholder='Unidade') }}<br>
            {% for error in uform.nome.errors %}
                <span class="alert-info">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ uform.telefone.label }}<br>
            {{ uform.telefone(id="telefone", size=15, class="form-control", placeholder='Telefone') }}<br>
            {% for error in uform.telefone.errors %}
                <span class="alert-info">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ eform.cep.label }}<br>
            {{ eform.cep(size=10, class="form-control", placeholder='CEP') }}<br>
        </div>
        <div class="form-group">
            {{ eform.rua.label }}<br>
            {{ eform.rua(size=80, class="form-control", placeholder='Informe a rua') }}<br>
        </div>
        <div class="form-group">
            {{ eform.numero.label }}<br>
            {{ eform.numero(size=5, class="form-control", placeholder='Número') }}<br>
        </div>
        <div class="form-group">
            {{ eform.complemento.label }}<br>
            {{ eform.complemento(size=80, class="form-control", placeholder='Complemento') }}<br>
        </div>
        <div class="form-group">
            {{ eform.cidade.label }}<br>
            {{ eform.cidade(size=30, class="form-control", placeholder='Cidade') }}<br>
        </div>
        <div class="form-group">
            {{ eform.bairro.label }}<br>
            {{ eform.bairro(size=20, class="form-control", placeholder='Bairro') }}<br>
        </div>
{#        <input type="submit" name="cadastrar" value="Cadastrar">#}
    {{ uform.submit }}
        <a href="{{ url_for('database_manipulation.cadastro', objeto='unidade') }}">
            <input type="button" name="cancelar" value="Cancelar">
        </a>
    </form>
{% endblock %}
