{% extends 'home.html' %}
{% block boasvindas %}
{% endblock %}
{% block content %}
    {{ super() }}
    <div style="padding-bottom: 50px">
        <form action="" method="post">
            {% for k in registro.dict_class %}
                {% for i in k.keys() %}
                    <strong style="color: darkred">{{ i.capitalize() }}</strong>
                    {% if i == 'Usuário' or i == 'Matricula' %}
                        <input id="{{ i }}" class="form-control" name="{{ i }}" type="text" value="{{ k[i] }}" readonly>
                        <br>
                    {% elif i.capitalize() == 'Endereco' %}
                        <div class="input-group">
                            <input id="{{ i }}" class="form-control" name="{{ i }}" type="text" value="{{ k[i] }}"
                                   readonly>
                            <div class="input-group-addon">
                                <a class="icone_acao fa fa-pencil glyphicon glyphicon-pencil"
                                   href="{{ url_for('database_manipulation.editar', objeto=registro.endereco.__class__.__name__.lower(), id=registro.endereco.id) }}"></a>
                                <br>
                            </div>
                        </div>
                    {% elif i.capitalize() == 'Pessoa' %}
                        <div class="input-group">
                            <input id="{{ i }}" class="form-control" name="{{ i }}" type="text" value="{{ k[i] }}"
                                   readonly>
                            <div class="input-group-addon">
                                <a class="icone_acao fa fa-pencil glyphicon glyphicon-pencil"
                                   href="{{ url_for('database_manipulation.editar', objeto=registro.pessoa.__class__.__name__.lower(), id=registro.pessoa.id) }}"></a>
                                <br>
                            </div>
                        </div>
                    {% else %}
                        <input id="{{ i }}" class="form-control" name="{{ i }}" type="text" value="{{ k[i] }}"><br>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <div class="btn-group" style="padding-top: 10px; margin-left: 0">
                <input type="submit" value="Editar" style="color: darkred">
                {% if objeto=='unidade' or objeto=='usuario' %}
                    <a href="{{ url_for('database_manipulation.cadastro', objeto=objeto) }}">
                {% else %}
                    <a href="{{ request.referrer }}">
                {% endif %}
                <input type="button" name="cancelar" value="Cancelar">
                </a>
            </div>
        </form>
    </div>
{% endblock %}
