{% extends 'base.html' %}
{% block title %}{{ super() }} - Home{% endblock %}
{% block style %}
    {{ super() }}
        /* For mobile phones: */
        [class*="col-"] {
            width: 100%;
        }

        @media only screen and (min-width: 600px) {
            .home {
                min-width: 50vw;
            }

            .boasvindas {
                padding-bottom: 10vh;
            }

            .boasvindas-conteudo {
                margin-left: auto;
                padding: 20px;
                position: relative;
                min-width: 50vw;
            }

            .boasvindas-box {
                position: relative;
                min-width: 50vw;
                border-radius: 10px;
            }
        }

        .navbar-conteudo-1 .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: darkred;
            border-color: darkred;
        }

        .navbar-conteudo-1 .dropdown a, .navbar-conteudo-1 .dropdown .dropdown-toggle {
            color: darkred;
        }

        .navbar {
            border-color: darkred;
        }

        .navbar-header .menu-botao {
            border-color: darkred;
        }

        .navbar-header .menu-botao .icon-bar {
            background-color: darkred;
        }

        .dropdown .dropdown-toggle {
            border-color: red;
        }

        .botao-logout a {
            color: darkred;
            text-decoration: none;
        }

        .navbar-conteudo-1 .botao-home .botao-home {
            color: darkred;
        }

        .navbar, nav.navbar div.container-fluid div.navbar-conteudo ul {
            background-color: darkgray;
        }
        input{
            color: darkred;
        }
{% endblock %}
{% block content %}
    <div class="home">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="menu-botao navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-conteudo navbar-collapse collapse" id="navbar">
                    <ul class="navbar-conteudo-1 nav navbar-nav">
                        {#<li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="#about">Sobre</a></li>
                    <li class="nav-item"><a href="#contact">Contato</a></li>#}
                        <li class="divider" role="separator"></li>
                        <li class="botao-home">
                            <a href="{{ url_for('home.index') }}" class="botao-home">
                                Home
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Cadastrar
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ url_for('database_manipulation.cadastro', objeto='usuario') }}">Usuário</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('database_manipulation.cadastro', objeto='aparelho') }}">Equipamento</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('database_manipulation.cadastro', objeto='unidade') }}">Unidade</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-conteudo-1 nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{current_user.username}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block boasvindas %}
        <div class="boasvindas">
            <div class="boasvindas-box" style="background-color: white">
                <div class="boasvindas-conteudo">
                    <div class="boasvindas-titulo text-danger text-center">
                        <h1>
                            Bem vindo ao CG-Admin!
                        </h1>
                        <h2>
                            Informações Básicas
                        </h2>
                    </div>
                    <div class="boasvindas-info text-info" style="padding-top: 15px">
                        <p>
                            Este sistema foi desenvolvido com o intuito de facilitar a administração da academia Chiken
                            Gym.
                        </p>
                        <p>
                            No momento a funcionalidade básica corresponde ao cadastro e consultas dos recursos da
                            academia
                            (humanos e operacionais).
                            Futuramente os módulos de pagamento, frequência,
                            catraca, vendas e saúde poderão ser implementados segundo o
                            pedido do cliente (Dono da Academia).
                        </p>
                        <p>
                            O acesso as funcionalidades do sistema será pela barra de navegação que apresenta os botões
                            necessários para cada tarefa.
                        </p>
                        <p>
                            No momento, o perfil existente é o de administrador. Os perfis de usuário ainda não foram
                            definidos no sistema.
                        </p>
                        <p>
                            A proposta inicia em relação a usuários é, futuramente, a existência de perfis de usuário
                            cada
                            um com suas
                            permissões. Cada perfil poderá acessar determinadas áreas e funções. Por exemplo:
                        <ol>
                            <li>
                                Administrador - Acesso a todos os conteúdos do Sistema.
                            </li>
                            <li>
                                Gerente - Acesso ao cadatro de recursos, usuários, equipamentos e ao módulo de
                                pagamentos.
                            </li>
                            <li>
                                Funcionario - Acesso ao cadastro de alunos.
                            </li>
                            <li>
                                Funcionário (Professor) - Acesso ao cadastro de alunos, turmas, fichas, treinos e etc.
                            </li>
                            <li>
                                Aluno - Acesso a visualização de seus dados pessoais, pagamento, ficha, turma,
                                modalidade e
                                treinos.
                            </li>
                        </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
