{% extends 'home.html' %}
{% block head %}
    {{ super() }}
    <style>
        .tabela {
            border: 2px solid darkred;
            border-collapse: collapse;
            background-color: white;
            min-width: 50vh;
            width: 100%;
        }

        .tabela-cabecalho, .tabela-valor {
            border: 1px solid black;
        }

        .tabela-cabecalho, .tabela-valor {
            padding-left: 2px;
            text-transform: uppercase;
        }

    </style>
{% endblock %}
{% block boasvindas %}{% endblock %}
{% block content %}
    {{ super() }}
    <table class="tabela">
        <tr class="tabela-coluna">
            {% for e in table[0].dict_class %}
                {% for k in e.keys() %}
                    <th class="tabela-cabecalho">
                        {{ k }}
                    </th>
                {% endfor %}
            {% endfor %}
        </tr>
        {% for r in table %}
            <tr class="tabela-coluna">
                {% for d in r.dict_class %}
                    {% for v in d.values() %}
                        <td class="tabela-valor">
                            {{ v }}
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
